* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}

body {
  font-size: 1.6rem;
  color: var(--color-black-dark);
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}